<div class="loginForm">
    <div class="form-container">
       <h2>Credentials required</h2>
           <form  [formGroup]="loginForm" (ngSubmit)="loginOnSubmit()">
               <div class="form-div">
                   <label for="un">Username: </label>
                   <input type="text" name="un" placeholder="username" formControlName="un">
                   <div class="inputerror" *ngIf="un.errors?.['required'] && un.touched">
                       Username field is required.
                   </div>
               </div>
               <div class="form-div">
                   <label for="pw">Password: </label>
                   <input type="password" name="pw" placeholder="password" formControlName="pw">
                   <div class="inputerror" *ngIf="pw.errors?.['required'] && pw.touched">
                       Password field is required.
                   </div>
               </div>
               <div class="form-div button-div">
                       <button type="submit" [disabled]="!loginForm.valid">Login</button>
               </div>
           </form>
       </div>
   </div>