<div class="singlebook" *ngFor="let book of books">
    <div class="sbtitle">{{book.title}}</div>
    <div>ISBN: {{book.isbn}}</div>
    <div>{{book.author}}</div>
    <div *ngIf="book.image; else noImage">
        <img class="bimage" src="assets/uploads/{{book.image}}" title="{{book.about}}">
    </div>
    <ng-template #noImage>
        <div><img class="bimage" src="assets/teststock.png" title="{{book.about}}"></div>
    </ng-template>
    <button class="likebtn" (click)="like(book.isbn)">Like</button>
    <div *ngIf="book.stores.length; else notAvailable">Elérhető: 
        <div class="stnames" *ngFor="let sn of book.stores">
            <a href="{{sn.website}}"> ({{sn.name}}) </a>
        </div>
    </div>
    <ng-template #notAvailable>
        <div>Nem elérhető.</div>
    </ng-template>
</div>